<div class="header">
    <img src="../../assets/images/pup-logo.png" alt="PUP Logo" class="logo">
    <div class="header-text">
        <h1>Polytechnic University of the Philippines - Taguig</h1>
        <p>Guidance Information System</p>
    </div>
    <button class="logout-btn" (click)="logout()">Logout</button> 
</div>

<div class="container">
    <div class="sidebar">
        <ul>
            <li><a (click)="navigateTo('student-record')">Student Records</a></li>
            <li><a (click)="navigateTo('appointments')">Appointments</a></li>
            <!-- <li><a (click)="navigateTo('application-status')">Inventory Record Application</a></li> -->
            <li><a (click)="navigateTo('report')">Reports</a></li>
        </ul>
        <div class="profile">
            <div class="profile-pic">
              <img src="../../assets/images/profile-placeholder.png" alt="Profile Picture">
            </div>
            <div class="profile-info">
              <p>{{ userInfo.last_name }}, {{ userInfo.first_name }}</p>
            </div>
        </div>
        
    </div>

    <div class="content">
        <div class="application-status-box">
            <h3>Start Application</h3>
            <button class="application-btn" (click)="toggleApplicationStatus(true)">Start Application</button>
            <button class="application-btn" (click)="toggleApplicationStatus(false)">End Application</button>
        </div>
    </div>
    
</div>
