<div class="header">
    <img src="../../assets/images/pup-logo.png" alt="PUP Logo" class="logo">
    <div class="header-text">
        <h1>Polytechnic University of the Philippines - Taguig </h1>
        <p>Guidance Information System</p>
    </div>
</div>

<div class="container">
    <div class="sidebar">
        <ul>
            <li><a (click)="navigateTo('homepage')">Student Records</a></li>
            <li><a (click)="navigateTo('review-applicants')">Review Applicants</a></li>
            <li><a (click)="navigateTo('appointments')">Appointments</a></li>
            <li><a (click)="navigateTo('application-status')">Inventory Record Application</a></li>
            <li><a (click)="navigateTo('history')">History</a></li>
        </ul>
        <div class="profile">
            <a (click)="navigateTo('profile')">PROFILE</a>
        </div>
    </div>

    <div class="content">
        <div class="application-status-box">
            <h3>Start Application</h3>
            <button class="application-btn">Start Application</button>
            <button class="application-btn">End Application</button>
        </div>
    </div>
</div>
