.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
}

.header-text h1 {
    margin: 0;
    color: #800000;
}

.header-text p {
    margin: 0;
    color: #800000;
}

.container {
    display: flex;
    margin-top: 100px; /* Space for the fixed header */
}

.sidebar {
    background-color: #800000;
    width: 300px;
    height: calc(100vh - 100px); /* Adjust height based on header */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; /* Fix the sidebar in place */
    top: 100px; /* Align with header height */
    left: 0;
    z-index: 999;
    overflow-y: auto; /* Enable scrolling within the sidebar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    display: block;
    border-radius: 5px;
    background-color: #f2eb20;
}

.sidebar ul li a:hover {
    background-color: #fbf861;
}

.profile {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.profile a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 5px;
    background-color: #333;
}

.profile a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 320px; /* Margin to push the content next to the sidebar */
    max-width: calc(100% - 320px); /* Occupy remaining space after the sidebar */
}

h2 {
    margin-top: 0;
}

form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
    margin: auto; 
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1;
    min-width: 150px;
    margin-right: 10px;
}

.form-row input,
.form-row select {
    flex: 2;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}
