.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
}

.header-text h1, .header-text p {
    margin: 0;
    color: #800000;
}

.container {
    display: flex;
    margin-top: 100px; 
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; 
    margin-right: 100px;
    max-width: calc(100% - 400px); 
}

h2 {
    margin-top: 0;
}

form {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.form-section {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-row label {
    min-width: 150px;
}

.form-row input,
.form-row select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}

.snackbar-success {
    background-color: #4caf50;
    color: white; 
}
