.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
}

.header-text h1 {
    margin: 0;
    color: #800000;
}

.header-text p {
    margin: 0;
    color: #800000;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: linear-gradient(rgba(128, 0, 0, 0.85), rgba(128, 0, 0, 0.85)), 
                url('../../assets/images/campus.png') no-repeat center center;
    background-size: cover;
    width: 350px;
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px; 
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px; 
    display: block;
    border-radius: 8px; 
    background-color: rgba(128, 0, 0, 0.85); 
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #f8f817; 
    color: #800000; 
    transform: scale(1.05); 
}

.profile {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    color: #fff; 
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-pic img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    font-size: 16px;
    font-weight: bold;
}

.profile-info p {
    margin: 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.applicant-list {
    display: flex;
    flex-direction: column;
}

.applicant-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.applicant-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.applicant-info {
    flex-grow: 1;
}

.applicant-info h3 {
    margin: 0;
}

.view-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
