<div class="header">
    <img src="../../assets/images/pup-logo.png" alt="PUP Logo" class="logo">
    <div class="header-text">
        <h1>Polytechnic University of the Philippines - Taguig</h1>
        <p>Guidance Information System</p>
    </div>
</div>

<div class="container">
    <div class="sidebar">
        <ul>
            <li><a (click)="navigateTo('student-record')">Student Records</a></li>
            <li><a (click)="navigateTo('appointments')">Appointments</a></li> 
            <li><a (click)="navigateTo('application-status')">Inventory Record Application</a></li>
            <li><a (click)="navigateTo('report')">Reports</a></li>
        </ul>
        <div class="profile">
            <div class="profile-pic">
              <img src="../../assets/images/profile-placeholder.png" alt="Profile Picture">
            </div>
            <div class="profile-info">
              <p>{{ userInfo.last_name }}, {{ userInfo.first_name }}</p>
            </div>
        </div>
    </div>

    <div class="content">
        <h2>List of Applicants</h2>
        <div class="applicant-list">
            <div class="applicant-card" *ngFor="let applicant of applicants">
                <img src="../../assets/images/placeholder.png" alt="Applicant Image" class="applicant-image">
                <div class="applicant-info">
                    <h3>{{ applicant.name }}</h3>
                    <p>{{ applicant.id }}</p>
                    <p>{{ applicant.course }}</p>
                </div>
                <button class="view-btn">View</button>
            </div>
        </div>
    </div>
</div>
