.header {
  display: flex;
  align-items: center;
  background-color: #800000;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.header-text {
  flex-grow: 1;
}

.header-text h1 {
  margin: 0;
  color: #ffffff;
}

.header-text p {
  margin: 0;
  color: #ffffff;
}


.header + .schedule-container {
  margin-top: 60px;
}

.schedule-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .appointment-card {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .appointment-card p {
    margin: 5px 0;
  }
  