* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.header-text {
  flex-grow: 1;
}

.header-text h1 {
  margin: 0;
  color: #800000;
}

.header-text p {
  margin: 0;
  color: #800000;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800000;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 10px;
}

.inc {
  font-size: small;
  color: red;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.admin-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  color: #800000;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.form-footer {
  margin-top: 10px;
}

.form-footer a {
  color: #333;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
