<div class="header">
    <img src="../../assets/images/pup-logo.png" alt="PUP Logo" class="logo">
    <div class="header-text">
      <h1>Polytechnic University of the Philippines - Taguig</h1>
      <p>Guidance Information System</p>
    </div>
</div>
  
<div class="background">
    <div class="login-container">
      <div class="login-header">
        <img src="../../assets/images/admin-icon.png" 
            alt="Admin Icon" 
            class="admin-icon">
        <h2>Login</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
          @if(emailControl.invalid && emailControl.touched) {
            <div class="inc">
              @if(emailControl.errors?.['required']) {
                <div>Email is required.</div>
              }
              @if(emailControl.errors?.['email']) {
                <div>Invalid email format.</div>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          @if(passwordControl.invalid && passwordControl.touched && 
                passwordControl.errors?.['required']) {
            <div class="inc">
                <div>Password is Required.</div>
            </div>
        }
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
        <div class="form-footer">
          <a href="#">Forgot password?</a>
        </div>
      </form>
    </div>
</div>
  