.header {
    display: flex;
    align-items: center;
    background-color:#800000;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
}

.header-text h1 {
    margin: 0;
    color: #ffffff;
}

.header-text p {
    margin: 0;
    color: #ffffff;
}


.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: linear-gradient(rgba(128, 0, 0, 0.85), rgba(128, 0, 0, 0.85)), 
                url('../../assets/images/campus.png') no-repeat center center;
    background-size: cover;
    width: 350px;
    height: calc(100vh - 80px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px; 
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px; 
    display: block;
    border-radius: 8px; 
    background-color: rgba(128, 0, 0, 0.85); 
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #f8f817; 
    color: #800000; 
    transform: scale(1.05); 
}

.profile {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    color: #fff; 
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-pic img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    font-size: 16px;
    font-weight: bold;
}

.profile-info p {
    margin: 0;
}

.profile a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 50px; 
    margin-right: 100px;
    max-width: calc(100% - 350px); 
    display: flex;
    flex-direction: column;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-table th, .appointment-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.appointment-table th {
    background-color: #800000;
    color: white;
    font-weight: bold;
    text-align: center;
}

.appointment-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.appointment-table td button {
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #800000;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a00000;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color:  #800000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a00000;
}

.accept-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.accept-btn:hover {
    background-color: #218838;
}

.view-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.cancel-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}
